{% extends 'base.html.twig' %}

{% block title %}RentCar - AMRI
{% endblock %}

{% block body %}


	<img src="{{asset('assets/img/rentCar1.jpg')}}" alt="RentCar" width="100%"/>
	<h5 class="title1 mt-4">liste des voitures disponible !</h5>

	<div class="container">

		<div class="card-deck text-center">

			<div class="card rounded shadow-lg">
				<img class="card-img-top" src="{{asset('assets/img/renault.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title text-uppercase font-weight-bold">Renault</h5>
					<p class="card-text">
						<ul class="list-group list-group-flush font-weight-light">
							<li class="list-group-item">
								Marques :
							</li>
							<li class="list-group-item">
								Flotte :
							</li>
							<li class="list-group-item">
								Boîte de vitesse :
							</li>
							<li class="list-group-item">
								Nombre de places :
							</li>
							<ul>

								<p>
									prix :
								</p>
							</p>
						</div>

						<div class="text-center mb-4">
							<button class="btn btn-primary">Détails</button>
							<button class="btn btn-secondary">Réserver</button>
						</div>
					</p>
				</div>

				<div class="card rounded shadow-lg">
					<img class="card-img-top" src="{{asset('assets/img/volkswagen.jpg')}}" alt="Card image cap">
					<div class="card-body">
						<h5 class="card-title text-uppercase font-weight-bold">Volkswagen</h5>
						<p class="card-text">
							<ul class="list-group list-group-flush font-weight-light">
								<li class="list-group-item">
									Marques :
								</li>
								<li class="list-group-item">
									Flotte :
								</li>
								<li class="list-group-item">
									Boîte de vitesse :
								</li>
								<li class="list-group-item">
									Nombre de places :
								</li>
								<ul>

									<p>
										prix :
									</p>
								</p>

							</div>

							<div class="text-center mb-4">
								<button class="btn btn-primary">Détails</button>
								<button class="btn btn-secondary">Réserver</button>
							</div>
						</p>
					</div>


					<div class="card rounded shadow-lg">
						<img class="card-img-top" src="{{asset('assets/img/volkswagen2.webp')}}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-uppercase font-weight-bold">Volkswagen</h5>
							<p class="card-text">
								<ul class="list-group list-group-flush font-weight-light">
									<li class="list-group-item">
										Marques :
									</li>
									<li class="list-group-item">
										Flotte :
									</li>
									<li class="list-group-item">
										Boîte de vitesse :
									</li>
									<li class="list-group-item">
										Nombre de places :
									</li>
									<ul>

										<p>
											prix :
										</p>
									</p>
								</div>

								<div class="text-center mb-4">
									<button class="btn btn-primary">Détails</button>
									<button class="btn btn-secondary">Réserver</button>
								</div>
							</p>
						</div>
					</p>
				</div>
				<br/>

				<div class="card-deck text-center">

					<div class="card rounded shadow-lg">
						<img class="card-img-top" src="{{asset('assets/img/peugeot.jpg')}}" alt="Card image cap">
						<div class="card-body">
							<h5 class="card-title text-uppercase font-weight-bold">Peugeot</h5>
							<p class="card-text">
								<ul class="list-group list-group-flush font-weight-light">
									<li class="list-group-item">
										Marques :
									</li>
									<li class="list-group-item">
										Flotte :
									</li>
									<li class="list-group-item">
										Boîte de vitesse :
									</li>
									<li class="list-group-item">
										Nombre de places :
									</li>
									<ul>

										<p>
											prix :
										</p>
									</p>
								</div>

								<div class="text-center mb-4">
									<button class="btn btn-primary">Détails</button>
									<button class="btn btn-secondary">Réserver</button>
								</div>
							</p>
						</div>

						<div class="card rounded shadow-lg">
							<img class="card-img-top" src="{{asset('assets/img/suzuki.jpg')}}" alt="Card image cap">
							<div class="card-body">
								<h5 class="card-title text-uppercase font-weight-bold">Suzuki</h5>
								<p class="card-text">
									<ul class="list-group list-group-flush font-weight-light">
										<li class="list-group-item">
											Marques :
										</li>
										<li class="list-group-item">
											Flotte :
										</li>
										<li class="list-group-item">
											Boîte de vitesse :
										</li>
										<li class="list-group-item">
											Nombre de places :
										</li>
										<ul>

											<p>
												prix :
											</p>
										</p>
									</div>

									<div class="text-center mb-4">
										<button class="btn btn-primary">Détails</button>
										<button class="btn btn-secondary">Réserver</button>
									</div>
								</p>
							</div>


							<div class="card rounded shadow-lg">
								<img class="card-img-top" src="{{asset('assets/img/bmw.jpg')}}" alt="Card image cap">
								<div class="card-body">
									<h5 class="card-title text-uppercase font-weight-bold">BMW</h5>
									<p class="card-text">
										<ul class="list-group list-group-flush font-weight-light">
											<li class="list-group-item">
												Marques :
											</li>
											<li class="list-group-item">
												Flotte :
											</li>
											<li class="list-group-item">
												Boîte de vitesse :
											</li>
											<li class="list-group-item">
												Nombre de places :
											</li>
											<ul>

												<p>
													prix :
												</p>
											</p>
										</div>

										<div class="text-center mb-4">
											<button class="btn btn-primary">Détails</button>
											<button class="btn btn-secondary">Réserver</button>
										</div>
									</p>
								</div>
							</div>
							<br/>

						</div>
						<div class="bas text-center" style="background:#F6F6F6;">
							<h5 class="title1">TÉLÉCHARGEZ L'APP RENTCAR</h5>
							<div>
								<a href="">
									<img src="{{asset('assets/img/imgplay.png')}}" alt="google play"/>
								</a>
							</div>
						</div>

					{% endblock %}
