{% extends 'base.html.twig' %}

{% block title %}RentCar - AMRI
{% endblock %}

{% block body %}


	<img src="{{asset('assets/img/rentCar1.jpg')}}" alt="RentCar" width="100%"/>
	<h5 class="title1">liste des voitures disponible !</h5>

	<div class="container">

		<div class="card-deck text-center">
			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/renault.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Renault</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/volkswagen.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Volkswagen</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/volkswagen2.webp')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Volkswagen</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>
		</div>
		<br/>

		<div class="card-deck text-center">
			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/peugeot.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Peugeot</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>

			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/suzuki.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">Suzuki</h5>
					<p class="card-text">This card has supporting text below as a natural lead-in to additional content.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>
			<div class="card">
				<img class="card-img-top" src="{{asset('assets/img/bmw.jpg')}}" alt="Card image cap">
				<div class="card-body">
					<h5 class="card-title">BMW</h5>
					<p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.</p>
				</div>
				<div class="card-footer">
					<small class="text-muted">Last updated 3 mins ago</small>
				</div>
				<div class="text-center">
					<button class="btn btn-primary">Détails</button>
					<button class="btn btn-secondary">Réserver</button>
				</div>
			</div>
		</div>
		<br/>

	</div>
	<div class="bas text-center" style="background:#F6F6F6;">
		<h5 class="title1">TÉLÉCHARGEZ L'APP RENTCAR</h5>
		<div>
			<a href="">
				<img src="{{asset('assets/img/imgplay.png')}}" alt="google play"/>
			</a>
		</div>
	</div>

{% endblock %}
