{% extends 'base.html.twig' %}

{% block title %}Engines{% endblock %}

{% block body %}
    <h1>Engines</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ engine.id }}</td>
            </tr>
            <tr>
                <th>Engine</th>
                <td>{{ engine.engine }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('engines_index') }}">back to list</a>

    <a href="{{ path('engines_edit', {'id': engine.id}) }}">edit</a>

    {{ include('engines/_delete_form.html.twig') }}
{% endblock %}
