<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
																																																																																																																																																																																				           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			{#{{ encore_entry_link_tags('app') }}#}
			<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
			<link href="{{ asset('assets/css/index.css') }}" type="text/css" rel="stylesheet"/>
			<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w==" crossorigin="anonymous" referrerpolicy="no-referrer"/>
		{% endblock %}

		{% block javascripts %}
			{#{{ encore_entry_script_tags('app') }}#}
			<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
			<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		{% endblock %}
	</head>
	<body>
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<a class="navbar-brand" href="{{path('home')}}">rentCar</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mobileMenu" aria-controls="mobileMenu" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="mobileMenu">
				<ul class="navbar-nav ml-auto mt-2 mt-lg-0">
					{% if app.user %}
						<li class="nav-item">
							<span class="nav-link" style="text-decoration: underline overline #FF3028;">Bienvenue
								{{ app.user.lastName }}
								{{ app.user.firstName }}
								!</span>
						</li>
					{% endif %}
					<li class="nav-item {{ app.request.get('_route') == 'homepage' ? 'active' : '' }}">
						<a class="nav-link" href="{{path('home')}}">Accueil</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="{{path('cars')}}">Liste des véhicules</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="#">Contact</a>
					</li>
					{% if app.user %}
						<li class="nav-item">
							<a class="nav-link" href="{{ path('app_logout') }}">Déconnexion</a>
						</li>
					{% else %}
						<li class="nav-item {{ app.request.get('_route') == 'app_login' ? 'active' : '' }}">
							<a class="nav-link" href="{{ path('app_login') }}">Connexion</a>
						</li>
						<li class="nav-item {{ app.request.get('_route') == 'app_register' ? 'active' : '' }}">
							<a class="nav-link" href="{{ path('app_register') }}">Inscription</a>
						</li>
					{% endif %}
				</ul>
			</div>
		</nav>
		<!-- fin navbar -->


		<!-- Corps de la page -->
		{% block body %}{% endblock %}


		<!-- Footer -->
		<footer
			class="text-center text-lg-start bg-light text-muted">
			<!-- Section: Social media -->
			<section
				class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
				<!-- Left -->
				<div class="me-5 d-none d-lg-block">
					<span>Connectez-vous avec nous sur les réseaux sociaux :</span>
				</div>
				<!-- Left -->

				<!-- Right -->
				<div>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-facebook-f"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-twitter"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-google"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-instagram"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-linkedin"></i>
					</a>
					<a href="" class="me-4 text-reset">
						<i class="fab fa-github"></i>
					</a>
				</div>
				<!-- Right -->
			</section>
			<!-- Section: Social media -->

			<!-- Section: Links  -->
			<section class="">
				<div
					class="container text-center text-md-start mt-5">
					<!-- Grid row -->
					<div
						class="row mt-3">
						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
							<!-- Content -->
							<h6 class="text-uppercase fw-bold mb-4" style="text-decoration: underline overline #FF3028;">
								<i class="fas fa-gem me-3"></i>
								RentCar
							</h6>
							<p class="fw-bold">RentCar est un acteur incontournable de la location voiture et location utilitaire. Déménagement, déplacement professionnel, départ en vacances, location occasionnelle.
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Nos Services
								<span class="animate-border border-black col-md-2 col-lg-2 col-xl-2 mx-auto"></span>
							</h6>
							<p>
								<a href="#!" class="text-reset">Location de voitures</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Location d'utilitaires</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Location en aller simple</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Location sans permis</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Infos pratiques
								<span class="animate-border border-black col-md-3 col-lg-2 col-xl-2 mx-auto"></span>
							</h6>
							<p>
								<a href="#!" class="text-reset">Conditions générales</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Aide en ligne</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Bons plans</a>
							</p>
							<p>
								<a href="#!" class="text-reset">Plan de site</a>
							</p>
						</div>
						<!-- Grid column -->

						<!-- Grid column -->
						<div
							class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
							<!-- Links -->
							<h6 class="text-uppercase fw-bold mb-4">
								Contact
								<span class="animate-border border-black col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0"></span>
							</h6>
							<p>
								<i class="fas fa-home me-3"></i>
								Avenue de fouilleuse, 92500 Rueil Malmaison, Fr</p>
							<p>
								<i class="fas fa-envelope me-3"></i>
								amri.site@yahoo.com
							</p>
							<p>
								<i class="fas fa-phone me-3"></i>
								+ 33 (0)6 XX XX XX XX</p>

						</div>
						<!-- Grid column -->
					</div>
					<!-- Grid row -->
				</div>
			</section>
			<!-- Section: Links  -->

			<!-- Copyright -->
			<div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
				© 2021 Copyright
				<a class="text-reset fw-bold">
					| AMRI | All Right Reserved</a>
			</div>
			<!-- Copyright -->
		</footer>
		<!-- Footer -->


	</body>
</html>
